@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

:root{
    /*primary-color, secondary-color, accent1-color, 
    accent2-color, heading-font, paragraph-font, 
    nav-background-color, nav-link-color, nav-hover-link-color,*/

    --primary-color:#1A2C85;
    --secondary-color:#FFD400;
    --accent1-color:#F2FDFF;
    --accent2-color:#B3001B;
    
    --heading-font:'Josefin Sans',serif;
    --paragraph-font:'Roboto',serif;
    
    --nav-background-color:#FFD400;
    --nav-link-color:#1A2C85;
    --nav-hover-link-color:#F2FDFF;
    --nav-hover-background-color:#1A2C85;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
        max-width: 1024px;
        margin:0 auto;
        font-family: var(--paragraph-font);
    }   
  
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center; /*added*/
}

p{
    padding:25px;
    color: #000;
}

.sociallinks a{
    text-decoration:none;  
 
 }
 .hero{
    position: relative;
       
}
.hero img{
    display:block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 100px;
    left:300px;
    color:aliceblue;
}
.hero article {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.301);
    top: 200px;
    padding:20px;
}
.hero article p{
   color:aquamarine;
}
.hero article img{
   float:right;
   width: 150px;
   height: auto;
}
header{
   background-color: #1A2C85;
   display:grid;
   grid-template-columns:200px 1fr 2fr;
   align-items: center;
   gap: 5px;
 }

nav{
   
    }
.navigation{
       list-style: none;
       display:flex;
       align-content:center;
        }
.navigation li{
    flex: 1 1 100%;
    background-color:#1A2C85;
    border:1px solid #fff;
    text-align: center;
     }

.navigation a{
    display: block;
    color:#F2FDFF;
     text-decoration: none;
    padding:10px 5px 10px 5px;
   
        }
.navigation a:hover{
    background-color:#FFD400;
    color:#1A2C85;
    text-decoration: none;
                    }
  