@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

:root{
    /*primary-color, secondary-color, accent1-color, 
    accent2-color, heading-font, paragraph-font, 
    nav-background-color, nav-link-color, nav-hover-link-color,*/

    --primary-color:#1A2C85;
    --secondary-color:#FFD400;
    --accent1-color:#F2FDFF;
    --accent2-color:#B3001B;
    
    --heading-font:'Josefin Sans',serif;
    --paragraph-font:'Roboto',serif;
    
    --nav-background-color:#FFD400;
    --nav-link-color:#1A2C85;
    --nav-hover-link-color:#F2FDFF;
    --nav-hover-background-color:#1a2c85;
    --text-color:#000;
    --section-background-color:hsla(194, 68%, 70%, 0.432);
    --text-color:#000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
      max-width: 1024px;
        margin:0 auto;
        font-family: var(--paragraph-font);
    }   
 .indexpage{
    max-width: 100%;
          margin:0 auto;
          font-family: var(--paragraph-font);
      }   
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center; /*added*/
    padding:20px;
}

p{
    padding:25px;
    color: var(--text-color);
}

.sociallinks a{
    text-decoration:none;  
 
 }
 .hero, .bighero{
    position: relative;
       
}
.bighero{
  background-image:url(../images/main-riverrush2.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
 background-position: 50% 50%;
       
}
.hero img{
    display:block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    /*top: 100px;
    left:300px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Align the element to the center */
    color:var(--accent1-color);
}
.hero article {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.301);
    top: 200px;
    padding:20px;
    margin-left:20px;
    margin-right:20px;
}
.hero article p{
   color:var(--accent1-color);
}
.hero article img{
   float:right;
   width: 150px;
   height: auto;
}


header{
   background-color:var(--primary-color);
   display:grid;
   grid-template-columns:1fr 2fr;
   align-items: center;
   gap: 5px;
   padding:0 20px 0 0;
 }

.social img{
   width: 30px;
   height: auto;
   float:right;
    }
.navigation{
       list-style: none;
       display:flex;
       align-content:center;
        }
.navigation li{
    flex: 1 1 100%;
    background-color:var(--primary-color);
    border:1px solid #fff;
    text-align: center;
     }

.navigation a{
    display: block;
    color:var(--accent1-color);
     text-decoration: none;
    padding:10px 5px 10px 5px;
   
        }
.navigation a:hover{
    background-color:var(--secondary-color);
    color:var(--primary-color);
    text-decoration: none;
                    }
.historygrid{
    display:flex;
    /*flex:33% 34% 33%;*/
    justify-content: space-around;
  align-items: center;
  gap:10px;
 }
 .historygrid img{
   width:100%;
 }
 .adventuregrid,.employees{
    display: flex;
  justify-content: space-around;
  align-items: center;
  gap:10px;
   
 }
 .companyinfo{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items:start;
    gap:10px;
     
   }
   .contactform, .location {
    flex: 1; 
    padding: 20px;
   }

 .contactform{
     width: 100%; 
  
  justify-content: space-around;
  align-items: start;
 
   
 }
 .location{
    width: 100%; 

   }
   .maplocation{
  margin:2rem 0;

   }
 figure img {
    width: 100%;
    }
    figcaption{
        text-align:center;
        }
section{
 padding:20px;
 margin-top:5px;
 margin-bottom:5px;
 background-color:var(--section-background-color);
  }
footer{
    background-color:var(--primary-color);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
    padding:0 20px 0 0;
    color:var(--accent1-color);
 
  }
  footer p{
    color:var(--accent1-color);
     }
 /*form*/
 form{
    margin:0 auto;
    width: 100%;
    padding:2rem 1rem;
    border: 1px solid #1A2C85;
    border-radius:0.5rem;
   
    display:grid;
    padding:10px;
    } 
    .form-item{
       /* display:grid;*/
        align-items: center;
     } 
     .column{
        grid-template-columns: 1fr;
        margin:0.5rem 0;
        } 
 button{
    background-color: var(--nav-hover-background-color);
    color:var(--accent1-color);
    border:none;
    border-radius: .5rem;
    padding:0.75rem;
    font-size:1.2rem;
    margin:1rem 0;
                    }
    
button:hover{
background-color: var(--secondary-color);
}
label, input, select,textarea, button{
    font-family:var(--paragraph-font);
   width:100%;
}
 label{
    text-align:left;
    margin-bottom:0.5rem;
}
  input, select, textarea, button{
    font-size:1.1rem;
     padding:0.5rem;
 }
 input[type="checkbox"]{
    width:22px;
    height:22px;
    vertical-align: bottom;
            }
input[type="radio"]{
                width:22px;
                height:22px;
                vertical-align: middle
                        }
                      
.gridcompany{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 20px;
    padding: 20px;
            }
.companyfeatures{
   grid-column: 1/4;
   grid-row:1/7;

                            }
 .companyfeatures2{
 grid-column: 3/6;
 grid-row: 2/6;
 ;
}
                           