@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

:root{
    --primary-color:#1A2C85;
    --secondary-color:#FFD400;
    --accent-color:#F2FDFF;
    --additional-accent-color:#B3001B;
    
    --heading-font:'Josefin Sans',serif;
    --paragraph-font:'Roboto',serif;
    
    --navigation-background-color:var(--secondary-color);
    --navigation-link-color:var(--primary-color);
    --navigation-hover-link-color:var(--accent-color);
    --navigation-hover-background-color:var(--primary-color);
}

body {
    max-width: 960px;
    padding: 20px;
    font-family: var(--paragraph-font);
  }

  h1,h2,h3,h4,h5,h6{
       font-family: var(--heading-font);
       color: var(--primary-color);
  }

  header{
    padding:20px;
    background-color: var(--accent-color);
}
p{
    padding:25px;
 
}
nav{
   background-color: var(--navigation-background-color);
   font-size: 1.2rem;
   display:flex;
 }

 nav a{
    background-color: var(--navigation-background-color);
    text-decoration:none;  
    display:block;
    padding:1rem;
}

  nav a:link, nav a:visited{
 color:var(--navigation-link-color);
  }

  nav a:hover{
   background-color:var(--navigation-hover-background-color);
color:var(--navigation-hover-link-color)  
}