@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');
:root{
    /*primary-color, secondary-color, accent1-color, 
    accent2-color, heading-font, paragraph-font, 
    nav-background-color, nav-link-color, nav-hover-link-color,*/

    --primary-color:#1A2C85;
    --secondary-color:#FFD400;
    --accent1-color:#F2FDFF;
    --accent2-color:#B3001B;
    
    --heading-font:'Josefin Sans',serif;
    --paragraph-font:'Roboto',serif;
    
    --nav-background-color:#FFD400;
    --nav-link-color:#1A2C85;
    --nav-hover-link-color:#F2FDFF;
    --nav-hover-background-color:#1a2c85;
    --text-color:#000;
    --section-background-color:hsla(194, 68%, 70%, 0.432);
    --text-color:#000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
        max-width: 1024px;
        margin:0 auto;
        font-family: var(--paragraph-font);
        font-size: 1.2em;
    }  
 header{
    margin:0 auto;
    width: 650px;
    }      
    h1{
 margin:1 rem;
 font-size: 1.5 em;
 color:#000;
 text-align: center;
    }  
form{
    margin:0 auto;
    width: 650px;
    padding:1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:0.5 rem;
    background-color: --var(accent1-color);
    display:grid;
    } 
    fieldset{
      display:grid;
      grid-gap:.5rem;
      margin:1 rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1 rem;
           }  