@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

:root{
    /*primary-color, secondary-color, accent1-color, 
    accent2-color, heading-font, paragraph-font, 
    nav-background-color, nav-link-color, nav-hover-link-color,*/

    --primary-color:#1A2C85;
    --secondary-color:#FFD400;
    --accent1-color:#F2FDFF;
    --accent2-color:#B3001B;
    
    --heading-font:'Josefin Sans',serif;
    --paragraph-font:'Roboto',serif;
    
    --nav-background-color:#FFD400;
    --nav-link-color:#1A2C85;
    --nav-hover-link-color:#F2FDFF;
    --nav-hover-background-color:#1a2c85;
    --text-color:#000;
    --section-background-color:hsla(194, 68%, 70%, 0.432);
    --text-color:#000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }

body{
        max-width: 1024px;
        margin:0 auto;
        font-family: var(--paragraph-font);
    }   
  
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center; /*added*/
    padding:20px;
}
h1{
    margin:1rem;
    font-size: 1.5em;
    color:var(--nav-link-color);
    text-align: center;
       }  
p{
    padding:25px;
    color: var(--text-color);
}

p.code{
    padding:15px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 20px 5px 20px;
    align-items: center;
}
form{
    margin:0 auto;
    width: 650px;
    padding:1.5rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:0.5rem;
    background-color:#ccc;
    display:grid;
    padding:10px;
    } 

    footer{
        margin:1rem auto 0;
        width: 650px;
        text-align: center;
        font-size: 0.8em;
        color:#777;
        border-top:1px solid #ccc;
                   }
                   .form-item{
                    display:grid;
                    align-items: center;
                 } 
                 .column{
                    grid-template-columns: 1fr;
                    margin:0.5rem 0;
                    } 
                    button{
                        background-color: var(--nav-hover-background-color);
                        color:var(--accent1-color);
                        border:none;
                        border-radius: .5rem;
                        padding:0.75rem;
                        font-size:1.2rem;
                                        }
                        
button:hover{
background-color: var(--secondary-color);
 }
label, input, select,textarea, button{
    font-family:Arial, Helvetica, sans-serif;
   width:100%;
}
 label{
    text-align:left;
    margin-bottom:0.5rem;
}
  input, select, textarea, button{
    font-size:1.1rem;
     padding:0.5rem;
 }
 
    label>.number{
       color:#1A2C85;
       font-weight: bold;

     }